body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root>div {
  position: relative;
}

#root .animation {
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  #animation {
    min-width: 1300px;
  }
}

@media only screen and (max-width: 1024px) {
  #animation {
    width: 1300px;
  }

  #root>div {
    margin-left: -650px !important;
    left: 50%;
  }
}