/* your custom css */

/*
  Colors:
  pinky-purple: #e535ab;
  dark-sky-blue: #37a9e2;
*/

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (max-width: 1024px) {
  .contentWrapper {
    max-width: 80%;
  }

  .projectTitle {
    font-size: 35px;
  }

  .animation-container > iframe {
    width: 100vw;
    height: 760px;
  }

  .highlights {
    flex-direction: column;
  }

  .highlights > .feature {
    padding-bottom: 50px;
  }

  .footer-container {
    flex-direction: column;
    justify-content: space-around;
  }

  #footer {
    padding: 15px 0;
  }

  #footer .footer-logo {
    padding: 25px 0;
    order: 2;
  }

  #footer .links {
    order: 1;
  }

  #footer .copyrights {
    order: 3;
  }
}

@media only screen and (min-width: 1024px) {
  body:not(.separateOnPageNav) .navPusher > :first-child {
    flex-grow: 0;
  }

  .contentWrapper {
    max-width: 960px;
  }

  .animation-container {
    height: calc(((731 / 1300) * 100vw));
    min-height: 730px;
  }

  .animation-container > iframe {
    width: 100vw;
    height: calc(((731 / 1300) * 100vw));
    min-height: 730px;
  }

  .projectTitle {
    font-size: 45px;
  }

  .highlights {
    flex-direction: row;
  }

  .footer-container {
    height: 70px;
    flex-direction: row;
    justify-content: space-between;
  }

  #footer .footer-logo {
    order: 1;
  }

  #footer .links {
    order: 2;
  }

  #footer .copyrights {
    order: 3;
  }
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* body {
  background: #e535ab url(../img/ui/graphql-bg.svg) no-repeat top center;
  background-size: 1300px;
} */

body.separateOnPageNav {
  background: #fff;
}

/*
  Header
*/

/* Hides that text next to logo */
.headerTitleWithLogo {
  display: none;
  visibility: hidden;
  width: 0px;
  height: 0px;
}

/* Hides links */
.navigationWrapper {
  display: none;
  visibility: hidden;
}

/* Makes header transparent */
body:not(.separateOnPageNav) .fixedHeaderContainer {
  background-color: transparent;
  position: relative;
  display: none;
  visibility: hidden;
}

/* But not on docs */
body.separateOnPageNav .fixedHeaderContainer {
  background-color: #e535ab;
}

body.separateOnPageNav .fixedHeaderContainer header {
  padding-bottom: 10px;
}

/* align logo to center */
.fixedHeaderContainer header {
  padding-top: 10px;
  justify-content: center;
}

/* make it big, white and wrap */
.projectTitle {
  margin: 0 auto;
  max-width: 390px;
  color: #fff;
  line-height: normal;
}

/* add some space on top */
body:not(.separateOnPageNav) .navPusher {
  padding-top: 0;
}

body.separateOnPageNav .navPusher {
  padding-top: 70px;
}

/* push button more to bottom, add some space */
.promoSection .promoRow {
  padding: 40px 0;
}

/* style button */
.buttonWrapper .button {
  border: 1px solid #ffffff;
  border-radius: 30px;
  padding: 15px 20px;
  text-transform: initial;
  color: #fff;
  background-color: transparent;
  font-weight: 500;
}

.buttonWrapper .button:hover {
  background-color: #37a9e2;
}

.homeContainer {
  height: 700px;
  flex-shrink: 0;
}

/*
  Main
*/
.mainContainer {
  background-color: #fff;
  padding-top: 150px;
  padding-bottom: 180px;
}

.contentWrapper {
  margin: 0 auto;
}

/*
  Index
*/

.contentWrapper > .title {
  padding-top: 10px;
  padding-bottom: 30px;
  margin-top: 0;
  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000;
}

.highlights {
  display: flex;
  justify-content: space-evenly;
}

.highlights > .feature {
  flex: 1;
  padding-right: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feature > .title {
  flex: 0;
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.feature > .text {
  flex: 1;
  font-size: 14px;
  font-weight: normal;
  color: #4a4a4a;
  padding: 10px 0;
}

.feature > .links {
  flex: 0;
}

.feature .link {
  font-size: 16px;
  color: #37a9e2;
  text-decoration: underline;
  margin-right: 15px;
}

.feature .link:hover {
  color: #e535ab;
}

.code-snippet {
  border-radius: 8px;
  box-shadow: 0 12px 14px 0 rgba(0, 0, 0, 0.05);
  max-width: 300px;
  margin: 0px auto;
  margin-top: 150px;
  padding: 25px;
}

.code-snippet .blue {
  color: #37a9e2;
}

.code-snippet .pink {
  color: #e535ab;
}

.code-snippet .gray {
  color: #4a4a4a;
}

.code-snippet .faded {
  color: #c9c9c9;
}

/*
  Footer
*/

#footer {
  border-top: 1px solid #f4f4f4;
  background-color: #fff;
  color: #9b9b9b;
  font-size: 12px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.footer-container {
  margin: 0px auto;
  max-width: 960px;
  display: flex;
  align-items: center;
}

.footer-logo > a {
  display: block;
}

#footer a {
  color: #9b9b9b;
  font-size: 12px;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.footer-link-separator {
  display: inline-block;
  padding: 0 15px;
}
